.container{
   background-color: #000E3C;
}

.cardscreenn{
    border: solid 1px;
    border-color:#e4f9fb;
    width: 350px;
    height: 300px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    margin-left: 450px;
    background-color: #1bd3c6;
    margin-top: 15%;
    border-radius: 8px;
}

.header{
    text-align: center;
}

.course-title{
    margin-left: 15%;
    padding-bottom: 5%;
}

.course-input{
    width: 20em;
    height: 40px;
    border-radius: 4px;
    border-width: 0.1em;
}

.click-button{
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-width: 0px;
    width: 12em;
    margin-right: auto;
    margin-left: 20%;
    padding-top: 20px;
    padding-bottom: 5%;
    border-radius: 10px;
    font-size: 20px;
    background-color: #068a80
}
